.topbar{
    background-color: #003b60;
    color: #fff;
    width: 100%;
    font-size: 11px;

    &__login{
        padding: 5px 25px;
        background-color: #0e537a;
        color: #fff;
       
        border: none;
    }
   
}

.navbarr{
    color: black;
    &__list{
        &__a{
            text-decoration: none;
                font-weight: bold;
                font-size: 12px;
                color: black;

          
        }

        
    }
}