* {
  padding: 0%;
  margin: 0%;
}

.topbar {
  background-color: #003b60;
  color: #fff;
  width: 100%;
  font-size: 11px;
}

.topbar__login {
  padding: 5px 25px;
  background-color: #0e537a;
  color: #fff;
  border: none;
}

.navbarr {
  color: black;
}

.navbarr__list__a {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: black;
}

.herosec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.herosec__textBox {
  width: 40%;
  background-color: #00853e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  padding: 15px 50px;
}

.herosec__textBox--des {
  font-size: 12px;
}

.herosec__textBox--h2 {
  font-weight: 500;
}

.herosec__textBox--p {
  font-size: 13px;
}

.herosec__textBox--btn {
  position: relative;
  width: 120px;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 7px;
  padding: 5px 15px;
  color: #fff;
  font-size: 12px;
}

.herosec__seperator {
  width: 7px;
  background-color: #b3c764;
}

.herosec__imgBox {
  margin: 0;
  padding: 0%;
  width: 60%;
}

.herosec__imgBox--img {
  height: 100%;
  width: 100%;
}

.generalIndustry {
  position: relative;
}

.generalIndustry__head {
  background-color: #0e537a;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px;
  border-bottom: 3px solid purple;
}

.generalIndustry__head__h4 {
  font-size: 15px;
}

.generalIndustry__body {
  background-color: #f4f4f4;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.generalIndustry__body__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.generalIndustry__body__list--items {
  margin-bottom: 15px;
  font-size: 12px;
  margin-left: 15px;
}

.generalIndustry__body__viewMore {
  position: absolute;
  bottom: 5px;
  right: 0px;
  z-index: 0;
}

.generalIndustry__body__viewMore--p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 8px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  margin-bottom: 0;
}

.generalIndustry__body__viewMore--img {
  width: 25px;
}

.whyUs {
  background-color: #f4f4f4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 60px auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.whyUs__h3 {
  font-weight: 500;
}

.whyUs__row1 {
  margin-top: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whyUs__row1__centl {
  margin-top: 20px;
  position: absolute;
  height: 30%;
  width: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-left: 1px solid black;
}

.whyUs__cat1 {
  margin: 0px 20px;
  font-size: 12px;
}

.whyUs__cat1--heading {
  margin: 15px 0;
  font-size: 15px;
}

.whyUs__cat1--i {
  color: #5858f5;
  cursor: pointer;
}

.whyUs__cat1--p {
  font-size: 10px;
}

.pop {
  margin: 50px auto;
}

.pop__h2 {
  font-weight: 500;
}

.pop__container__preBtn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pop__container__nextBtn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pop__container__cat1--img {
  width: 100%;
}

.pop__container__cat1__body {
  margin-bottom: 5px;
  padding: 0 12px;
}

.pop__container__cat1__body__p {
  font-size: 10px;
}

.pop__container__cat1__body__sm {
  font-size: 9px;
  color: green;
  margin: 5px 0 0 0;
}

.pop__container__cat1__body__h5 {
  font-size: 15px;
}

.pop__container__cat1__body--rating__fi {
  font-size: 8px;
}

.pop__container__cat1__footer {
  position: relative;
  height: 30px;
}

.pop__container__cat1__footer--cart {
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  width: 50%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pop__container__cat1__footer--cart__a {
  font-size: 12px;
  font-weight: bold;
  color: green;
  text-decoration: none;
}

.pop__container__cat1__footer--cart__a:hover {
  font-size: 13px;
  color: green;
}

.pop__container__cat1__footer--price {
  border-top: 1px solid grey;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.pop__container__cat1__footer--price__del {
  font-size: 11px;
  opacity: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pop__container__cat1__footer--price__h4 {
  font-size: 18px;
}

.spe {
  margin: 50px auto;
}

.spe__cat1 {
  position: relative;
  margin: 0 02px;
}

.spe__cat1--img {
  height: 100%;
  width: 100%;
}

.spe__cat1__overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  top: 0;
  opacity: 50%;
}

.spe__cat1__textBox {
  position: absolute;
  top: 40px;
  color: #fff;
  padding: 0 20px;
}

.spe__cat1__textBox__h2 {
  font-size: 20px;
}

.spe__cat1__textBox__p {
  font-size: 10px;
}

.spe__cat1__nextImg {
  position: absolute;
  bottom: 10px;
  right: 0px;
}

.cust__h3 {
  margin: 20px 0 30px 0;
  font-weight: 500;
}

.cust__content__cat__body {
  font-size: 20px;
}

.cust__content__cat__body__img {
  margin-top: -40px;
  margin-left: 10px;
  width: 50px;
}

.cust__content__cat__body__p {
  font-size: 10px;
}

.cust__content__cat__footer {
  padding-bottom: 10px;
}

.cust__content__cat__footer__textbox__h5 {
  font-size: 14px;
  font-weight: bold;
}

.cust__content__cat__footer__textbox__p {
  font-size: 9px;
}

.cust__content__cat__footer__ratting__fi {
  font-size: 8px;
}

.infosec {
  margin-top: 70px;
}

.infosec__head {
  background-color: #00853e;
  color: #fff;
}

.infosec__head__h5 {
  font-weight: 500;
  font-size: 18px;
}

.infosec__head__btn {
  border: 2px solid #fff;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
}

.infosec__head__img {
  margin-top: -20px;
  margin-bottom: -20px;
  height: 200px;
}

.infosec__head__p {
  font-size: 10px;
}

.infosec__body {
  background-color: #1d1d1d;
  color: #fff;
  padding: 0 100px 0 100px;
}

.infosec__body__h5 {
  font-size: 9px;
}

.infosec__body__list__item {
  font-size: 10px;
}

.infosec__foot {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: #fff;
  padding: 0 100px 0 100px;
  font-size: 10px;
}

.infosec__foot__p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.infosec__form {
  padding: 30px 0 30px 20px;
  height: 100%;
  border-left: 1px solid grey;
}

.infosec__form__p {
  font-size: 9px;
}

.infosec__form__input {
  font-size: 11px;
  height: 20px;
  width: 180px;
  border: none;
}

.infosec__form__btn {
  font-size: 11px;
  height: 35px;
  width: 180px;
  border: none;
}
/*# sourceMappingURL=style.css.map */