*{
 padding: 0%;
 margin: 0%;
}
@import 'topBar';






.herosec{
    display: flex;
    margin-bottom: 50px;
   
    &__textBox{
            width: 40%;
           
            background-color: #00853e;
            display: flex;
            flex-direction: column;
            color: #fff;
            padding: 15px 50px;
            
           &--des{
               font-size: 12px;
           }
            &--h2{
                font-weight: 500;
            }
            &--p{
                font-size: 13px;
            }
           
        
        &--btn{
            position: relative;
            width: 120px;
            text-decoration: none;
            border: 2px solid #fff;
            border-radius: 7px;
            padding: 5px 15px;
            color: #fff;
            font-size: 12px;
            
        }
    }

    &__seperator{
        width: 7px;
        background-color: #b3c764;
    }

    &__imgBox{
        margin: 0;
        padding: 0%;
        width: 60%;
     
        &--img{
         height: 100%;
        width: 100%;
}
    }
}


.generalIndustry{
    position: relative;
    

    &__head{
        background-color: #0e537a;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        border-bottom: 3px solid purple;

        &__h4{
            font-size: 15px;
        }
    }

    &__body{
        background-color: #f4f4f4;
        text-transform: uppercase;
        padding-bottom: 20px;

        &__list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 30px;

           &--items{
               margin-bottom: 15px;
               font-size: 12px;
               margin-left: 15px;
           }
         
        }
       &__viewMore{
           position: absolute;
           bottom: 5px;
           right: 0px;
           z-index: 0;
          
           &--p{
               display: flex;
               font-size: 8px;
               font-weight: bold;
            align-items: center;
            margin-right: 10px;
            margin-bottom: 0;
           }

           &--img{
               width: 25px;
           }
       }
    }
}

.whyUs{
    background-color: #f4f4f4;
    justify-content: center;
    text-align: center;
    margin: 60px auto;
    padding-top: 40px;
    padding-bottom: 40px;

    &__h3{
        font-weight: 500;
    }

    &__row1{
        margin-top: 60px;
        justify-content: center;

        &__centl{
            margin-top: 20px;
            position: absolute;
            height: 30%;
            width: 0;
            align-self: center;
            border-left: 1px solid black;
        }
      
    }

    &__cat1{
        margin: 0px 20px;
        font-size: 12px;

        &--heading{
            margin: 15px 0;
            font-size: 15px;
        }

        &--i{
            color: rgb(88, 88, 245);
            cursor: pointer;
        }
        &--p{
            font-size: 10px;
        }
    }
    
}

.pop{
      margin: 50px auto;
    &__h2{
        font-weight: 500;
    }
    &__container{ 

       &__preBtn{
        align-self: center;
       
        transform: rotate(180deg);
       }
       &__nextBtn{
        align-self: center;
       
       }
    &__cat1{
       
        &--img{
           width: 100%;           
        }
        &__body{
            margin-bottom: 5px;
            padding: 0 12px;
            &__p{
                font-size: 10px;
            }
            &__sm{
                font-size: 9px;
                color: green;
                margin: 5px 0 0 0;
            }
            &__h5{
                font-size:15px;
            }
            &--rating{
                &__fi{
                    font-size: 8px;
                }
            }
        }
        &__footer{
            position: relative;
            height: 30px;
         &--cart{
             border-top: 1px solid grey;
             border-right: 1px solid grey;
             width: 50%;
             height: 100%;
             position: absolute;
             display: flex;
            justify-content: center;
            align-items: center;
            &__a{
                font-size: 12px;
                font-weight: bold;
                color: green;
                text-decoration: none;

                &:hover{
                    font-size: 13px;
                    color: green;
                }
            }
         }
         &--price{
            border-top: 1px solid grey;
            width: 50%;
            height: 100%;
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;

            &__del{
                font-size: 11px;
                opacity: 50%;
                align-self: center;
            }
            &__h4{
                font-size: 18px;
            }
           
         }
        }
    }
}
}

.spe{
    margin: 50px auto;
&__cat1{
    position: relative;
   
    margin: 0 02px;

    &--img{
        height: 100%;
        width: 100%;
    }

    &__overlay{
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: black;
        top: 0;
        opacity: 50%;

       
    }
    &__textBox{
        position: absolute;
        top: 40px;
        color: #fff;
        padding: 0 20px;

        &__h2{
            font-size: 20px;
        }
        &__p{
            font-size: 10px;
        }
    }
    &__nextImg{
        position: absolute;
        bottom: 10px;
        right: 0px;
    }
}
}

.cust{
    &__h3{
        margin: 20px 0 30px 0;
        font-weight: 500;
    }
    &__content{
    &__cat{
       

        &__body{
            font-size: 20px;

            &__img{
                margin-top: -40px;
                margin-left: 10px;
                width: 50px;
               }

               &__p{
                   font-size: 10px;
               }
        }
       &__footer{
           padding-bottom:10px;
           &__textbox{
           &__h5{
               font-size: 14px;
               font-weight: bold;
           }
           &__p{
               font-size: 9px;
           }
           
        }
        &__ratting{
            &__fi{
                font-size: 8px;
            }
       }

       
       }

        
    }
}
}

.infosec{
    margin-top: 70px;
    &__head{
        background-color: #00853e;
        color: #fff;
        

        &__h5{
            font-weight: 500;
            font-size: 18px;
        }
        &__btn{
            border: 2px solid #fff;
            font-size: 12px;
            padding: 5px 15px;
            border-radius: 8px;
            text-decoration: none;
            color: #fff;
           
        }
        &__img{
            margin-top: -20px;
            margin-bottom: -20px;
            height: 200px;
        }
        &__p{
            font-size: 10px;
        }
    }
    
    &__body{
        background-color: #1d1d1d;
        color: #fff;
        padding: 0 100px 0 100px;


        &__h5{
            font-size: 9px;
        }
        &__list{
            &__item{
                font-size: 10px;
            }
        }
       
    }

    

    &__foot{
        align-items: center;
        background-color: black;
        color: #fff;
        padding: 0 100px 0 100px;
        font-size: 10px;

          
        

        &__p{
            align-self: center;
        }

    }

    

    &__form{
        padding: 30px 0 30px 20px;
        height: 100%;
        border-left: 1px solid grey;
        &__p{
            font-size: 9px;
        }
        &__input{
            font-size: 11px;
            height: 20px;
            width: 180px;
            border:none;
        }
        &__btn{
            font-size: 11px;
            height: 35px;
            width: 180px;
            border: none;
           
        }
    }

  
}